@font-face {
  font-family: 'ProximaNova-bold';
  src: url('ProximaNova-Bold.eot');
  src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Bold.woff2') format('woff2'), url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf') format('truetype'), url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-reg';
  src: url('ProximaNova-Regular.eot');
  src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('ProximaNova-Regular.woff2') format('woff2'), url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf') format('truetype'), url('ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova-reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  background-color: #fcb303;
  color: #ffffff;
  padding: 1rem 4rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #fcbe26;
}
/* Typographi */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 1rem 0 10rem;
  text-align: center;
}
.section-header-light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNova-bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
.header {
  height: 7rem;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova-bold', sans-serif;
  color: #1a1820;
  font-weight: 500;
  font-size: 2rem;
  line-height: 7rem;
  height: 7rem;
  text-align: right;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.form-input {
  display: block;
  border: 1px solid #ddd;
  width: 100%;
  padding: 0.5rem;
  margin: 2rem auto;
  border-radius: 3px;
  font-size: 2rem;
  border-radius: 5px;
}
.form label {
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  font-size: 1.1rem;
}
.form-btn {
  font-size: 1.3rem;
  width: 100%;
  display: block;
}
/* Main */
.main {
  padding: 3rem 0;
  background: url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Подзаголовок */
  /* Оплата по факту */
  /* Главная форма */
}
.main-content {
  margin-top: 5rem;
  /* Главный заголовок */
}
.main-content h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: 'ProximaNova-bold', sans-serif;
  margin-bottom: 2.2rem;
  line-height: 1.4;
}
.main-subtitle {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.main span {
  display: inline-block;
  padding: 2rem 3rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-size: 3rem;
  font-family: 'ProximaNova-bold', sans-serif;
}
.main-trigger {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: 'ProximaNova-bold', sans-serif;
  display: block;
  margin-top: 3rem;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 4rem;
  text-align: center;
  margin-top: 1rem;
  /* Заголовок формы */
  /* Поле для ввода */
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  font-size: 1.2rem;
  color: #565656;
}
.main-job {
  color: #565656;
  font-size: 1.2rem;
  padding: 3rem 3rem;
}
/* Преимущества */
.features-block {
  margin: 3rem 0;
  text-align: center;
}
.features-img {
  height: 6.6rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.features-name {
  font-family: 'ProximaNova-bold', sans-serif;
  font-size: 2rem;
  margin: 1rem 0 3rem;
}
.features-text {
  font-size: 1.4rem;
  display: inline-block;
  width: 85%;
}
.slick-active {
  outline: none;
}
.arrow {
  width: 2rem;
  height: 2rem;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.prev {
  left: 0;
  vertical-align: middle;
  background: url(../img/features/left-arrow.png) center no-repeat;
  background-size: 100%;
}
.next {
  right: 0;
  background: url(../img/features/right-arrow.png) center no-repeat;
  background-size: 70%;
}
/* Оформление блока с ценами	*/
.price {
  background: url(../img/prices/prices-bg.jpg) center;
  /* Оформление карточки с тарифами */
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  padding: 1rem 2rem 4rem;
  min-height: 50rem;
  background-color: #ffffff;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  font-size: 1.9rem;
  font-family: 'ProximaNova-bold', sans-serif;
  margin: 3rem 0;
}
.price-img {
  display: inline-block;
  margin-bottom: 2rem;
  max-width: 30rem;
  width: 100%;
}
.price-tag {
  font-size: 1.9rem;
  font-family: 'ProximaNova-bold', sans-serif;
  display: block;
  margin-bottom: 2rem;
}
.price-list {
  min-height: 14rem;
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/prices/checked.svg) no-repeat center;
  background-size: 100%;
  vertical-align: middle;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 6rem;
  top: 10%;
  background-color: #ffffff;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.7rem;
  right: -1.5rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-content {
  text-align: center;
}
.popup-header {
  font-family: 'ProximaNova-bold', sans-serif;
}
.popup-text {
  font-size: 1.1rem;
}
/*Секция с отзывами*/
.feedback {
  position: relative;
  background: url(../img/feedback/backgraund-feedback.png) repeat center;
  background-size: cover;
  /*Форма с обратной связью*/
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  font-style: italic;
  border: 2px solid #46b814;
  font-size: 1.2rem;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #46b814;
  border-bottom: #fff;
  border-top-right-radius: 100px;
  background-color: #ffffff;
}
.feedback-slider {
  padding: 5rem 6rem;
  background: #ffffff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova-bold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback-form {
  text-align: center;
  margin-top: 5rem;
  background-color: #ffffff;
  padding: 4rem 10rem;
}
.feedback-form h3 {
  font-size: 2rem;
  font-family: 'ProximaNova-bold', sans-serif;
  margin-bottom: 1rem;
}
.feedback-form label {
  transform: translate(-50%, 25%);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 30rem;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    padding-bottom: 3rem;
  }
  .main-form {
    margin-top: 4rem;
  }
  .main-job {
    color: #f5f5f5;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: scaleY(-50%);
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header-light {
    margin-bottom: 0;
  }
  .feedback-form label {
    transform: translate(-50%, 25%);
  }
  .hand {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .main-content {
    margin-top: 17rem;
  }
  .main-content h1 {
    font-size: 2.5rem;
  }
  .advantages-item {
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .feedback-prev-btn {
    left: 0;
  }
  .feedback-next-btn {
    right: 0;
  }
}
